@model CoinAuction.Models.Login

@{
    ViewData["Title"] = "Login";
}

<div class="main-w3layouts wrapper">
    <h1>Gold Coin Register</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form asp-action="Login" asp-controller="Users">
                <input class="text" type="text" asp-for="Username" placeholder="Username" required="">
                @if (Model != null && Model.UsernameError != null)
                {
                    <span class="text-danger">@Model.UsernameError</span>
                }
                <br>
                <input class="text" type="password" asp-for="Password" placeholder="Password" required="">
                @if (Model != null && Model.PasswordError != null)
                {
                    <span class="text-danger">@Model.PasswordError</span>
                }
                <input type="submit" value="Login">
            </form>
            <p>Don't have an Account? <a href="#"> Register Now!</a></p>
        </div>
    </div>
    <!-- copyright -->
    <div class="colorlibcopy-agile">
        <p>© 2020 Coin Auction <a href="#" target="_blank">Coin auction</a></p>
    </div>
    <!-- //copyright -->
    <ul class="colorlib-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
