<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\CoinAuction.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
  <connectionStrings>
    <add name="CoinAuction" connectionString="Data Source=SQL5053.site4now.net;Initial Catalog=DB_A6B4AC_DeProf;User Id=DB_A6B4AC_DeProf_admin;Password=CoinAuction1;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
<!--ProjectGuid: 5f55bcb0-c73c-4e44-86b4-41bf626503d5-->